* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#aMRI-prompt-container {
  z-index: 100;
  position: fixed;
  width: 80%;
  height: 60vh;
  left: 10%;
  top: 15%;
  background: white;
  padding: 2rem;
  text-wrap: balance;
  text-align: center;
  border: black solid 1px;
}

#aMRI-prompt-form p {
  width: 100%;
  /* font-size: 0.75rem; */
  text-align: center;
  text-wrap: balance;
  /* padding: 1%; */
  margin: 0.5rem;
  line-height: normal;
}

#aMRI-prompt-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#aMRI-prompt-form > * {
  margin: 1%;
}

#aMRI-prompt-form [type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background: none;
  text-align: center;
}

#aMRI-prompt-submit-button {
  border: none;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  background: none;
  transition: all 0.2s;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

#aMRI-prompt-submit-button:hover {
  color: white;
  background: black;
}

#aMRI-canvas-prompt-container {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 20vh;
  top: 0;
  padding: 2rem;
  text-wrap: nowrap;
  text-align: center;
  display: none;
}
#aMRI-canvas-prompt-container > * {
  padding: 1%;
}

#aMRI-canvas-prompt-container button,
#aMRI-submit-container button {
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  background: none;
  transition: all 0.2s;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
#aMRI-canvas-prompt-submit-button:hover,
#aMRI-submit-container button:hover {
  color: white;
  background: black;
}

#aMRI-submit-container {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 20vh;
  bottom: 0;
  padding: 2rem;
  text-wrap: nowrap;
  text-align: center;
  display: none;
}

/* svg brain */

#aMRI-canvas {
  padding-top: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#svg-brain-container {
  /* padding: 5rem; */
  width: 100%;
  height: 100%;
  background-color: white;
}

#svg-brain {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* brain svgs */

.cls-1 {
  fill: salmon;
  stroke-width: 0px;
}
/* ripple effect */

span {
  position: absolute;
  border-radius: 50%;
  /* To make it round */
  background-color: rgba(0, 0, 0, 0.3);

  width: 100px;
  height: 100px;
  margin-top: -50px;
  /* for positioning */
  margin-left: -50px;

  animation: ripple 1s ease-out;
  opacity: 0;
}

/* Add animation */
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(5);
  }
}
