* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#aMRI-prompt-container {
  z-index: 100;
  position: fixed;
  width: 80%;
  height: 80vh;
  left: 10%;
  top: 10%;
  background: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  text-wrap: balance;
  text-align: center;
  border: black solid 1px;
}

#aMRI-prompt-container h1 {
}
#aMRI-prompt-container h1 span {
  font-style: italic;
}

#aMRI-prompt-form p {
  width: 100%;
  /* font-size: 0.75rem; */
  text-align: center;
  text-wrap: balance;
  /* padding: 1%; */
  margin: 0.5rem;
  line-height: normal;
}

#aMRI-prompt-form p span {
  background: black;
  color: white;
}

#aMRI-prompt-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#aMRI-prompt-form > * {
  margin: 1%;
}

#aMRI-prompt-form [type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background: none;
  text-align: center;
}

#aMRI-prompt-form [type="text"] {
  font-size: 1.5rem;
}

#aMRI-prompt-submit-button {
  border: none;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  background: none;
  transition: all 0.2s;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

#aMRI-prompt-submit-button:hover {
  color: white;
  background: black;
}

#aMRI-canvas-prompt-container {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 20vh;
  top: 0;
  padding: 2rem;
  text-wrap: nowrap;
  text-align: center;
  display: none;
}
#aMRI-canvas-prompt-container > * {
  padding: 1%;
}

#aMRI-canvas-prompt h4 {
  padding-bottom: 1rem;
}

#aMRI-canvas-prompt-container button,
#aMRI-submit-container button {
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  background: none;
  transition: all 0.2s;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
#aMRI-canvas-prompt-submit-button:hover,
#aMRI-submit-container button:hover {
  color: white;
  background: black;
}

#aMRI-submit-container {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 20vh;
  bottom: 0;
  padding: 2rem;
  text-wrap: nowrap;
  text-align: center;
  display: none;
}

/* svg brain */

#aMRI-canvas {
  padding-top: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#svg-brain-container {
  /* padding: 5rem; */
  width: 100%;
  height: 100%;
  background-color: white;
}

#svg-brain {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* brain svgs */

.cls-1 {
  fill: salmon;
  stroke-width: 0px;
}
/* ripple effect */

/* amris.php */

#aMRI-title-section {
  position: fixed;
  text-align: left;
  top: 0px;
  left: 0px;
  width: auto;
  height: 10vh;
  font-size: 1.5rem;
  padding: 1rem;
  z-index: 200;
  /* font-style: italic; */
}

#aMRI-title-section a {
  color: black;
  text-decoration: none;
}

#aMRI-title-section a :visited {
  color: black;
  text-decoration: none;
}
#aMRI-title-section span {
  font-style: italic;
}

.aMRI-displayed-prompt {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  font-size: 1rem;
  color: black;
}

/* Add animation */
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(5);
  }
}
